html {
  scroll-behavior: smooth;
}

body {
  background-color: #ede9e0 !important;
  font-family: "Noto Sans JP",
    sans-serif !important;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  transition: all 0.3s;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 8px;
}

::-moz-selection {
  /* Code for Firefox */
  background: #00e600;
}

::selection {
  background: #00e600;
}

a {
  text-decoration: none !important;
  color: black !important;
}

a:hover {
  color: white !important;
}

header {
  background-color: transparent;
}

.spacer {
  min-height: 12vh;
  min-width: 100vw;
}

.paragraph {
  width: 100%;
  margin: auto;
}

.content {
  margin: auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.header-container {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  background-color: #ede9e0 !important;
  z-index: 999999 !important;
  padding-bottom: 16px;
}

.nav-link {
  margin-right: 10px;
  align-self: flex-end;
}

.nav-link-group {
  width: 60%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* font-family: "Playfair Display",
    serif; */
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  min-width: 350px !important;
  max-width: 350px !important;
  background-color: transparent !important;
  border: none !important;
  padding: 8px;
  margin-bottom: 15px !important;
}

.card-link {
  text-decoration: underline !important;
  text-align: center !important;
}

.card-link-group {
  display: flex;
  flex-wrap: nowrap !important;
  row-gap: 0px !important;
}

.img-container {
  height: 22rem;
  border-radius: 10px !important;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 13px 13px
    rgba(101, 67, 33, 0.4);
  overflow: hidden;
}

.card-img-top {
  height: 100%;
  object-fit: cover;
}

.card-body {
  margin-top: 2vh;
}

.accordion-item,
.accordion-button {
  background-color: transparent !important;
  font-size: 19px !important;
  padding: 15px !important;
}

.accordion-button:focus {
  border-color: transparent !important;
  box-shadow: 0 0 0 0 white !important;
}

.accordion-button:active {
  border-color: transparent !important;
  box-shadow: transparent !important;
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: transparent !important;
}

.accordion-body li {
  margin-bottom: 0.9em !important;
}

.accordion-body {
  font-size: 16px !important;
}

#resumeBtn {
  display: block !important;
  margin: auto !important;
}

#sticky-group {
  font-size: 20px;
  width: 100%;
  float: left;
}

#name-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 7vh;

  font-size: 28px;
  font-weight: 700;
  font-size: 3vw;
  font-style: italic;
  line-height: 90%;
  margin-bottom: 25vh;
  z-index: 9999999 !important;
}

#name-container {
  font-size: 20px;
  font-weight: 300 !important;
  letter-spacing: 0.8px;
}

#experience-section {
  width: 80%;
  margin: auto;
  font-size: 19px;
}

#experience-desc {
  text-align: center;
  font-size: 16px;
}

#name-container {
  width: auto;
  float: left;
}

#contact-section {
  width: 100%;
  margin: auto;
  text-align: center;
}

#desc-section {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* margin-bottom: 10vh; */
}

#desc-text {
  width: 47.5%;
  margin-right: 5%;
  text-align: center;
  margin-top: 10%;
  font-size: 19px;
}

#desc-pic {
  width: 47.5%;
  border-radius: 20px;
  transition: all 500ms ease
    50ms;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 15px 15px
    rgba(101, 67, 33, 0.4);
}

#desc-pic:hover {
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
  filter: grayscale(100%);
}

#projects-section {
  float: left;
  width: 100%;
}

#projects-desc {
  margin: auto;
  width: 45vw;
  text-align: center;
}

#desc,
#projects,
#contact,
#name {
  float: left;
  height: 20vh;
  width: 100%;
}

#exp {
  float: left;
  height: 20vh;
  width: 100%;
}

#accordionSubtitle {
  vertical-align: bottom;
  font-size: 16px;
  color: gray;
}

#contact-title {
  font-size: 32px;
  font-weight: 600;
  /* font-family: "Lora", serif; */
  margin-bottom: 3vh;
}

#contact-desc {
  font-size: 18px;
  margin-bottom: 3vh;
}

.card-link + .card-link {
  margin-left: 2px !important;
}

@media screen and (max-width: 1200px) {
  .content {
    width: 80%;
  }

  #name-container {
    margin-left: 10vw;
  }

  #sticky-group {
    margin-left: 10vw;
  }

  #name-sticky {
    position: unset;
    margin-left: 11vw;
    top: 5vh !important;
  }

  #desc-pic {
    height: 100% !important;
  }

  #desc-section {
    width: 100%;
  }

  #projects-desc {
    width: 65vw;
  }

  #name,
  #desc,
  #exp,
  #projects,
  #contact {
    height: 16vh;
  }
}

@media screen and (max-width: 900px) {
  .content {
    width: 90%;
  }

  .card-text {
    font-size: 16px !important;
  }

  #name-container {
    font-size: 18px;
  }

  #name-sticky {
    font-size: 28px;
    top: 4vh !important;
  }

  .nav-link {
    margin-right: 6px;
    padding: 3px !important;
  }

  #desc-pic:hover {
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    filter: grayscale(100%);
  }

  #desc-text {
    width: 47.5%;
    margin-right: 5%;
    text-align: center;
    font-size: 19px;
    margin-top: 1vh;
  }

  #desc-section {
    width: 100%;
  }

  #projects-section {
    width: 100%;
  }

  #projects-desc {
    margin: auto;
    width: 75vw;
    text-align: center;
  }

  .accordion-body {
    font-size: 16px !important;
  }

  #desc,
  #exp,
  #projects,
  #contact {
    height: 15vh;
  }
}

@media screen and (max-width: 600px) {
  .img-container {
    display: none;
  }

  .card {
    border: 1px solid black !important;
  }

  #contact-section,
  #name-container {
    width: 100%;
  }

  #desc,
  #exp,
  #projects,
  #contact {
    height: 17vh;
  }

  #name {
    height: 27vh;
  }

  #desc-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  #desc-pic {
    width: 90%;
    margin: auto;
  }

  #desc-text {
    width: 90%;
    margin: auto;
    font-size: 16px;
    margin-top: 4vh;
  }

  #experience-section {
    width: 90%;
  }

  #projects-section {
    width: 100%;
    margin: auto;
  }

  #projects-desc {
    margin: auto !important;
  }

  .card-link button {
    padding: 5px !important;
    margin-right: 0px !important;
  }

  .card {
    min-width: 90% !important;
    max-width: 90% !important;
    margin: auto;
  }

  .nav-link-group {
    width: 90%;
    margin: auto !important;
    justify-content: center;
    padding-top: 10vh;
  }
}
