@font-face {
  font-family: "BaksoSapi";
  src: url("/assets/fonts/BaksoSapi.otf");
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fbfbf8 !important;
  overscroll-behavior-y: none;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 8px;
}

::-moz-selection {
  /* Code for Firefox */
  background: #00e600;
}

::selection {
  background: #00e600;
}

a {
  text-decoration: none !important;
  color: black !important;
}

a:hover {
  color: #437d6d !important;
}

header {
  background-color: transparent;
}

.spacer {
  min-height: 18vh;
  min-width: 100vw;
}

.paragraph {
  width: 100%;
  float: left;
}

.content {
  margin: auto;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  font-family: "Playfair Display",
    serif;
}

.header-container {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  padding: 12px;
  background-color: #fbfbf8 !important;
  z-index: 999999 !important;
}

.nav-link {
  margin-right: 10px;
  align-self: flex-end;
}

.nav-link-group {
  width: 60%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-family: "Playfair Display",
    serif;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  min-width: 350px !important;
  max-width: 350px !important;
}

.img-container {
  height: 22rem;
}

.card-img-top {
  height: 100%;
  margin: auto;
  object-fit: cover;
}

.accordion-item,
.accordion-button {
  background-color: transparent !important;
  font-size: 19px !important;
  padding: 15px !important;
}

.accordion-button:focus {
  border-color: transparent !important;
  box-shadow: 0 0 0 0 white !important;
}

.accordion-button:active {
  border-color: transparent !important;
  box-shadow: transparent !important;
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: transparent !important;
}

#resumeBtn {
  display: block !important;
  margin: auto !important;
}

#sticky-group {
  font-size: 20px;
  width: 100%;
  float: left;
}

#name-sticky {
  position: sticky !important;
  top: 13vh;

  font-size: 28px;
  font-weight: 700;
  font-family: "Lora", serif;
  font-size: 3vw;
  line-height: 90%;
  margin-bottom: 25vh;
  z-index: 9999999 !important;
}

#name-container {
  font-size: 20px;
  font-weight: 300 !important;
  letter-spacing: 0.8px;
}

#experience-section {
  width: 80%;
  margin: auto;
  font-size: 19px;
}

#contact-section,
#name-container {
  width: 55%;
  float: left;
}

#desc-section {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 60vh;
  width: 100%;
}

#desc-text {
  width: 47.5%;
  margin-right: 5%;
  text-align: center;
  margin-top: 10%;
  font-size: 19px;
}

#desc-pic {
  width: 47.5%;
  border-radius: 20px;
  transition: all 500ms ease
    50ms;
}

#desc-pic:hover {
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
  filter: grayscale(100%);
}

.badge-base {
  font-family: "Trebuchet MS",
    "Lucida Sans Unicode",
    "Lucida Grande",
    "Lucida Sans", Arial,
    sans-serif;

  margin-top: 3vh;
}

#projects-section {
  float: left;
  width: 100%;
  margin-bottom: 60vh;
}

div#project-desc {
  display: flex;
  flex-wrap: wrap;
}

#desc,
#projects,
#contact,
#name {
  float: left;
  height: 26vh;
  width: 100%;
}

#exp {
  float: left;
  height: 30vh;
  width: 100%;
}

#accordionSubtitle {
  vertical-align: bottom;
  font-size: 16px;
  color: gray;
}

@media screen and (max-width: 1200px) {
  #name-sticky {
    position: unset !important;
    margin-top: 8px;
  }
}

@media screen and (max-width: 900px) {
  #name-container {
    font-size: 18px;
  }

  #name-sticky {
    font-size: 22px;
  }

  .nav-link {
    margin-right: 0px;
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 80%;
  }

  .card {
    min-width: 200px !important;
    max-width: 200px !important;
  }

  .img-container {
    display: none;
  }

  #targetLink1 {
    display: none;
  }

  #desc-text {
    width: 100%;
    margin-right: 0;
  }

  #desc-pic {
    width: 100%;
  }

  #desc-pic:hover {
    border-top-right-radius: 82px;
    border-bottom-left-radius: 82px;
    filter: grayscale(100%);
  }

  #desc-section {
    flex-direction: column-reverse;
    margin-bottom: 30vh;
    width: 100%;
  }

  #experience-section,
  #contact-section,
  #name-container {
    margin-bottom: 30vh;
    width: 100%;
  }

  #projects-section {
    margin-bottom: 30vh;
  }

  #desc,
  #exp,
  #projects,
  #contact,
  #name {
    height: 23vh;
  }

  .badge-base {
    font-family: "Trebuchet MS",
      "Lucida Sans Unicode",
      "Lucida Grande",
      "Lucida Sans", Arial,
      sans-serif;

    margin-top: 0;
  }

  .nav-link-group {
    width: 80%;
  }
}
