a h4 {
    color: var(--umber);
    font-size: 30px;
}

a h4:hover {
    color: var(--steelblue);
}

h1 {
    font-family: "chromate";
    font-size: 70px;
    font-weight: 300;
    color: var(--umber);
    margin-top: 2px;
    margin-bottom: 0px;
}

.social {
    font-size: 30px;
}

.social span{
    padding:7px;
}

.icon {
    color: var(--umber);
}

.icon:hover {
    color: var(--steelblue);
}

.desc {
    margin-top: 8vh;
}

.social {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
