a h4{
  color: var(--umber);
  font-size: 30px;
}

a h4:hover {
  color: var(--steelblue);
}

h1 {
  font-family: "chromate";
  font-size: 88px;
  font-weight: 300;
  color: var(--umber);
  margin-top: 2px;
  margin-bottom:1.5vh;
}

.social span {
  font-size:30px;
  margin-right:1vw;
  margin-left:1vw;
  margin-bottom:1.5vh;
}

.icon{
  color: var(--umber);
}

.icon:hover{
  color:var(--steelblue);
}

.desc {
  margin-top:10vh;
}

.social {
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  /* border: 1px solid black; */
}
