h2 {
    display: inline;
    text-transform: capitalize;
    font-size: 1.1em;
}

h4 {
    display: inline;
    opacity: 0.6;
}

li {
    margin-bottom: 0.5vh;
}

ul {
    margin-bottom: 0.85vh;
    margin-top: 1vh;
    margin-right: 0.75vw;
}

.exp {
    text-align: left;
    color: var(--umber);
    text-transform: lowercase;
    font-family: "42S";
    font-size: 1.1em;
    width:75%;
    margin:auto;
}

@media only screen and (max-width: 1025px) {
    .exp {
        height: auto;
        overflow-y: visible;
        text-align: left;
    }
}