.footer{
    flex-shrink: 0;
    padding:40px 0px;
    background-color: var(--primary);
    color:var(--footer-text);
}

.footerContent{
    width:60vw;
    margin-left: 10vw;
}

.contactMe h3, .footerLinks h3{
    color:var(--footer-text);
    margin-bottom:15px;
    font-size: 1.3em;
}

.footerLinks a{
    color:var(--footer-text);
}

.footerLinks a:hover{
    color:var(--secondary);
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--footer-text);
    padding:5px;
}

.footerContainer{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:0px 25px;
}

.footerForm{
    display:flex;
    flex-direction: column;
    max-width: 500px;
}

.footerLinks{
    min-width: 200px;
    display:flex;
    flex-direction: column;
    gap:8px;
    flex-grow: 1;
}

.contactMe{
    flex-grow: 2;
}

textarea{
    background-color: transparent;
    border:none;
    border: 2px solid var(--footer-text);
    color: var(--footer-text);
    font-family: var(--body-font);
    font-size: 1em;
    outline:none;
    resize: none;
    margin-bottom: 13px;
    border-radius: 8px;
    padding:10px;
}

textarea:focus{
    border: 2px solid var(--footer-text);
    color:white;
}

input{
    width:110px;
    align-self: flex-end;
    border: 2px solid white;

    position: relative;
    padding:8px 0px;
    background-color: white;
    color:var(--primary);
    font-size: 1em;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 1.5px;
}

input:hover{
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.12);
    border-radius: 8px;
    top:2px;
    left:2px;
}

.input-container{
    position: relative;
    display:flex;
    flex-direction: column;
}

.input-container label{
    position: absolute;
    pointer-events: none;
    font-size:16px;
    left:16px;
    top:-16px;

    transform: translate(0, 31px) scale(1);
    transform-origin: top left;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container:focus-within label{
    transform: translate(0, 8px) scale(0.9);
    background-color: var(--primary);
    padding: 0px 5px;
}

.input-container .filled{
    transform: translate(0, 8px) scale(0.9);
    background-color: var(--primary);
    padding:0px 5px;
}