h1{
    font-style: italic;
    font-size: 3.1em;
    margin-bottom: 15px;
    margin-top:4vw;
}

a{
    color:var(--primary);
    text-decoration: none;
}

a:hover{
    color:var(--secondary);
    text-decoration: none;
}

.header{
    width:var(--content-width);
    margin-left:10vw;
}

.social{
    font-family: var(--body-font);
    font-size:1.1em;
    color:var(--black-text);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}