.proj{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  height:425px;
  overflow-y: scroll;
  /* border:1px solid blue; */
}

.card {
  /* border: 1px solid var(--umber); */
  border-radius: 4px;
  width: 320px;
  text-transform: lowercase;
  color:var(--umber);
  padding:10px;
  /* margin-right:18px; */
  margin-bottom:18px;
}

.links{
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: column; */
  margin: 7px 0px;
}

#link{
  /* border:1px solid blue; */
}

@media only screen and (max-width: 1025px) {
  .proj {
    height:auto;
    overflow-y:visible;
  }
}