.proj {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-radius: 4px;
    width: 320px;
    text-transform: lowercase;
    color: var(--umber);
    margin-bottom: 18px;
}

.blur-load-proj{
    width:250px;
    height:225px;
    margin:auto;
    border-radius: 8px;
}

.links {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1025px) {
    .proj {
        height: auto;
        overflow-y: visible;
    }
}