.group {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tabgroup {
    display: flex;
    justify-content: center;
}

button {
    font-size: 20px;
    padding: 10px 18px;
    color: var(--umber);
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: transparent;
}

.active {
    border-bottom: 2px solid rgba(111, 151, 216, 0.8);
    opacity: 1;
}

.tabDesc {
    margin: auto;
    font-family: "42S";
}

button:hover {
    color: var(--steelblue);
    opacity: 1;
}

@media only screen and (max-width: 1025px) {
    .tabDesc {
        width: 95% !important;
    }
}