@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #F4F3F2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: #F4F3F2;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{
  body{
    @apply bg-zinc-100;
  }
}