:root {
    --umber: #5C5346;
    --steelblue: #6F97D8;
    --almond: #FCFCFB;
}

@font-face {
    font-family: "42S";
    src: url("/src/assets/42SRoman.ttf");
}

@font-face {
    font-family: "chromate";
    src: url("/src/assets/Courgette.ttf");
}

::selection {
    background: #eeadb0;
}

#root {
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
    background-color: var(--almond);
}

body {
    padding: 0;
    margin: 0;
    overscroll-behavior: none;
}

p {
    margin-block-start: 0px;
}

.navbar {
    text-align: center;
    z-index: 1;
}

.content {
    margin: auto;
    text-align: center;
}

.blur-load{
    background-size:cover;
}

/* width */
::-webkit-scrollbar {
    width: 0.4em;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--umber);
    border-radius: 8px;
}

@media screen and (max-width: 500px) {
    .content {
        width: 90%;
        text-align: center;
    }
}
