.about-container, .exp-container{
    margin: 2rem 0;
}

.exp-desc{
    margin-left: 1rem;
}

.exp-desc::before{
    content: "﹥ ";
    margin-left: -1rem;
}

.exp-date{
    color:darkgray;
    font-weight: 500;
    font-style: italic;
}

.resume-btn{
    float:right;
    font-size: 2rem;
}

@media only screen and (max-width: 850px) {
    span{
        flex-direction: unset;
        flex-wrap: wrap;
    }

    p{
        margin:0;
    }
}